<!DOCTYPE html>

  <head>
    <title>Cook with Us!</title>
    {% load static %}
    <style type="text/css">
      body {
        background-color: beige;
        background-size: cover;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 60px;
      }
    </style>
      <h1> Hi there, </h1>
  </head>

  <body>
    <p>It is nice to see you here!</p>
    <p>This recipe application was completed as part of my course with CareerFoundry. It isn't my best styling work (as you can probably see) but rather, showcases my journey learning Django and Python. </p>
    <p>Enjoy exploring! </p>
    <p>Feel free to reach out and connect on LinkedIn! I am always eager to see how I can improve my code or just chat :)</p>
    <a href="https://www.linkedin.com/in/gabrielle-meek-332b301b2/" target="_blank">
      <img src="{% static 'recipes/images/linkedin_icon.svg' %}" alt="LinkedIn icon"/>
    </a>
  </body>

